#header {
  background-color: @grayLighter;
  color: @grayDark;
  height: 4em;
  padding: 1em;
  background-image: url(/images/border.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  border-bottom: 1px solid @grayDark;
  h1 {
    //font-style: italic;
  }
  #logo {
    display: block;
    float: left;
    margin-right: 1em;
  }
}