extends ../../../views/layout

block content
  form(action="/sessions", method="post")
    label
      | Username
      input(type="text", name="username")
    label
      | Password
      input(type="password", name="password")
    input(type="submit", name="Submit")